.card-education{
    box-shadow: #0ef 0px 0px 5px 0px, #0ef 0px 0px 1px 0px;
    border-radius: 20px;
    padding: 5%;
}

.education{
    background: white;
    color: black;
}

.education-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.year-title h3{
    font-weight: bolder;
}

.eduction-title h3{
    font-weight: bolder;
}

.detail-education p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.card-education:hover{
    background-color: #9db4e1;
    color: white;
    transition: 1s;
}

.education h2{
    font-weight: bolder;
    margin-bottom: 4rem;
}