.home{
   display: flex;
   justify-content: center;
   align-items: center;
}
section
{
   min-height: 100vh;
   /* padding: 1px 9% 2rem; */
}
.home-content h3 {
   font-size: 3.2rem;
   font-weight: 700;
}

.home-content h1 {
   font-size: 5.6rem;
   font-weight: 700;
}

.home-img img{
   width:66vh;
   margin-right: 6rem;
}
 .home-content p{
   font-size: 1.6rem;
 }
 .social-media a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background:transparent;
   border: .2rem solid #0ef;
   border-radius: 50%;
   font-size: 2rem;
   background-color:#0ef;
   margin: 3rem 1.5rem 3rem 0;
   transition: .5 ease;
 }
 .social-media a:hover{
    background-color: #5e7297;
 }
 .home-content h3:nth-of-type(2)
 {
    margin-bottom: 2rem;
 }

 .btn{
    display: inline-block;
    padding: 1rem 2.8em;
    background: #0ef;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #0ef;
    font-size: 1.6rem;
    color: #323946;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5 ease;
 }

 .btn:hover{
    box-shadow: none;
 }

 span{
   color:#0ef;
 }

 :root {
   --header-height: 3.5rem;
 
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   /*
         Purple: hsl(250, 66%, 75%)
         Blue: hsl(207, 90%, 72%)
         Pink: hsl(356, 66%, 75%)
         Teal: hsl(174, 63%, 62%)
   */
   --first-hue: 187;
   --sat: 100%;
   --lig: 51%;
   --second-hue: 219;
   --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
   --first-color-alt: hsl(var(--first-hue), var(--sat), 74%); /* -4% */
   --title-color: hsl(var(--second-hue), 15%, 95%);
   --text-color: hsl(var(--second-hue), 8%, 75%);
   --text-color-light: hsl(var(--second-hue), 4%, 55%);
   --body-color: hsl(var(--second-hue), 48%, 8%);
   --container-color: hsl(var(--second-hue), 32%, 12%);
 
   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: 'Poppins', sans-serif;
   --biggest-font-size: 1.75rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;
   --smaller-font-size: .75rem;
   --tiny-font-size: .625rem;
 
   /*========== Font weight ==========*/
   --font-medium: 500;
   --font-semibold: 600;
 
   /*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
   --z-modal: 1000;
 }

 .home-img{
   justify-self: center;
    width: 190px;
    height: 293px;
    background:  linear-gradient(180deg,
    hsla(var(--first-hue),var(--sat),var(--lig), 1),
    hsla(var(--first-hue),var(--sat),var(--lig), .2));
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
 }