*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins','sans-serif';
}


html{
    font-size: 62.5%;
    overflow-x:hidden;
}

body
{
    /* background-color:#1f242d; */
    color: #fff;
}
 
/* .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100px;
} */
/* .logo{
    font-style: 2.5rem;
    color:#fff;
    font-weight: 600;
    cursor: default;
} */
.navbar a{
    font-size:1.7rem;
    margin-left: 4rem;

}

.navbar1 a:hover{
    color: #0ef;    
}