.works{
    background: #323946;
}
.works h2{
    margin-bottom: 4rem;
}
.works-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.works-container .works-box{
    position: relative;
    background-repeat: 2rem;
    box-shadow: 0 0 2rem #535e73;
    overflow: hidden;
    display: flex;
    border-radius: 25px;
}
.works-box img{
    /* width: 30vh; */
    height: 33vh;
    transition: .5s ease;
}

.works-box:hover img{
    transform: scale(1.1);
}

.works-box .works-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),#0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:0 4rem;
    transform: translateY(100%);
    transition: .5 ease;
}

.works-box:hover .works-layer{
    transform: translateY(0);

}

.works-layer h4{
    font-size: 3rem;
}

.works-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.works-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}